<div id="container">
  <p id="notice"><%= notice %></p>

  <h1>Welcome to Chomp Chomp's!</h1>
  <% @courses.each do |course| %>
  <div id="course">
  <h1><%= course.name %></h1>
    <%= image_tag course.image %>
  <%= link_to 'Add item', new_dish_path(:course_id => course.id) %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Desc</th>
        <th>Price</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <div id="image">
    </div>
    <tbody>
      <% @dishes.where(course_id: course.id).each do |dish| %>
      <tr id="items">
        <td><%= link_to dish.name, edit_dish_path(dish) %></td>
        <td><%= dish.desc %></td>
        <td><%= dish.price %></td>
        <td><%= link_to 'Show', dish %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
  <% end %>
</div>
